extends base
block content 
  .page-heading.about-heading.header-text(style='background-image: url(assets/images/pexels-flambo-1112080.jpg)')
    .container
      .row
        .col-md-12
          .text-content
            h4 Ish haqida to&apos;liq ma&apos;lumot
            h2
              | Ish haqida ma&apos;lumotga ega bo&apos;ling va ish beruvchi bilan
              | bog&apos;laning
  .products
    .container
      .row
        .col-md-8.col-sm-8
          p.lead
            i.fa.fa-map-marker
            span.d-inline-block=job.region[0].name_uz
            i.fa.fa-calendar
            span.d-inline-block=job.createdAt
          br
          br
          .form-group
            h5= job.title
          p= job.body
          br
          br




          
        .col-md-4
          .section-heading
            h2 Contact Details
          .left-content
            p
              span Name
              br
              strong= job.user[0].name
            p
              span Phone
              br
              strong
                a(href='#')= job.user[0].phone
            p
              span Email
              br
              strong
                a(href='#')= job.user[0].email
          .left-content.mt-2
            .contact-form
              form.applyForm.form-group
                button.jobApply.filled-button.btn-block(type='submit' value=`${user._id}`)
                  | Apply for this job
                input.userApply.d-none(type="text" value=`${user._id}`)
            div
              img.img-fluid.wc-image(src=`${job.photo}` alt='jobPhoto')
            br
            ul.social-icons.text-center
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-envelope
              li
                a(href='#')
                  i.fa.fa-linkedin
              li
                a(href='#')
                  i.fa.fa-behance
  script(src="assets/js/job.js") 
